<style>
body, h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, sans-serif;
}
h1 {
  border: 0px solid #333;
  padding: 30px ;
  color: white;
  background: #b11d01;
  text-align: center;
}
h2 {
  border: 3px solid #333;
  padding: 18px ;
  color: #b11d01;
  background: #ffffff;
  text-align: center;
}
h3 {
  border: 0px solid #333;
  padding: 12px ;
  color: #000000;
  background: #c1c1c1;
  text-align: left;
}
h4 {
  border: 0px solid #333;
  padding: 2px ;
  color: #000000;
  background: #d9fffc;
  text-align: left;
}
</style>
