*corrig*
*correct*
__pycache__
*answer*
cpPytChem*
*.docx
*.ods
**/*.ipynb_checkpoints/*
*.ipynb_checkpoints*
*/.ipynb_checkpoints/*
.ipynb_checkpoints
ConcentrationsmM.txt
Concentrations_mM.txt
*.aux
*.log
*.out 
.directory
